.header-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-title {
  margin-bottom: 20px;
  font-family: var(--theme-font-family);
}

.header-instructions {
  margin-bottom: 5px;
}

@media screen and (min-width: 1024px) {
  .header-section {
    text-align: left;
    width: 60%;
  }
}
