.app {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  font-family: var(--primary-font-family);
  background-color: var(--primary-background-color);
  min-height: 100vh;
}

.section-a {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 1024px) {
  .section-a {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .app {
    padding: 20px 5%;
  }
}

@media screen and (min-width: 1800px) {
  .app {
    padding: 30px 10%;
  }
}
