/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "simpsonfont";
  src: url("/src/assets/simpsonfont/simpsonfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --theme-font-family: "simpsonfont", sans-serif;
  --primary-background-color: #ffd90f;
  --secondary-background-color: #ffffff;
  --scoreboard-background-color: #f14e28;
  --card-background-color: #70d1fe;
  --button-background-color: #424f46;
  --button-background-color-hover: #d1b271;
  --button-font-color: #ffffff;
  --button-font-color-hover: #000000;
}
